@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #f1f5f9;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this if you want different height */
}
