/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

tr {
  background-color: #ffffff;
}

td, th {
  padding: 4px;
  border: 1px solid #ccc;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Add padding to the top of the content to account for the header height */
.content-container {
  padding-top: 64px; /* Adjust this value to match the height of your header */
}
